
.autocomplete input {
    width: 600px;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
    font-size: 16px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input:focus {
    outline: none;
    border-radius: 10px 10px 1px 1px;
}

.options {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #d4d4d4;
    max-height: 600px;
    overflow-y: scroll;
}

.autocomplete .options::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.options li {
    list-style: none;
    padding: 20px;
    cursor: pointer;
}

.autocomplete li:hover {
    background-color: #f4f4f4;
    color: #000;
}


.autocomplete .options .label {
    font-weight: bold;
    color: #00ac6b;
}
