.autocomplete{
    width: 100%;
}
.autocomplete-input {
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
}
.autocomplete-input:focus {
    outline: none;
    border-radius: 10px 10px 1px 1px;
}
label{
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    margin-bottom: 20px;
}
label span{
    color: #00ac6b;
}
.options {
    list-style: none;
    margin: 0;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #d4d4d4;
    max-height: 600px;
    overflow-y: scroll;
    width: 100%;
}

.countryNotFound{
    text-align: center;
    color: red;
    margin: 0;
    padding: 20px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.options::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.options li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}
.no-options li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

li:hover {
    background-color: #f4f4f4;
    color: #000;
}

.options .label {
    font-weight: bold;
    color: #00ac6b;
}

@media screen and (max-width: 600px) {
    .autocomplete-input{
        width: 100%;
        padding: 2px;
        margin-top: 15px;
        height: 40px;
        border-radius: 1px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
.options{
        width: 100%;
        padding: 2px;
        border-radius: 1px;
    }
.no-options{
        width: 100%;
        border-radius: 1px;
}

}

