*{
    margin: 0;
    padding: 0;
}
.app{
    margin: 0 auto;
    max-width: 600px;
}

.countryData{
    margin-top: 50px;
}

@media screen and (max-width: 600px) {
    .app{
        max-width: 100%;
        padding:30px;
    }
    .countryData{
        margin-top: 10px;
    }
}
